@page "/categories/create"
@inject IRepository repository
@inject NavigationManager nav
@inject SweetAlertService swl
@attribute [Authorize(Roles = "Admin")]
<h3>Create new Category</h3>

<CategoryForm @ref="categoryForm" Category="category" OnValidSubmit="CreateCategoryAsycn" ReturnAction="Return" />
@code {

    private Category category = new();
    private CategoryForm? categoryForm;
    [CascadingParameter]
    BlazoredModalInstance BlazoredModal { get; set; } = default!;
    public async Task CreateCategoryAsycn()
    {
        var responseHttp = await repository.Post("/api/categories", category);
        if (responseHttp.Error)
        {
            var message = await responseHttp.GetErrorMessageAsync();
            await swl.FireAsync("Error", message, SweetAlertIcon.Error);
            return;
        }
        await BlazoredModal.CloseAsync(ModalResult.Ok());
        Return();
    }
    public void Return()
    {
        categoryForm!.FormPostedSuccessFully = true;
        nav.NavigateTo("/categories");
    }
}
