@page "/cities/details/{Id:int}"
@inject IRepository repository
@inject NavigationManager nav
@inject SweetAlertService swl

@if (city is null)
{
    <p>Loading</p>
}
else
{
    <h3>@city.Name Details</h3>
    <div class="mb-3">
        <a class="btn btn-primary" href="/streets/create/@city.Id">New Street</a>
        <a class="btn btn-success" href="/states/details/@city.StateId">Back</a>
    </div>
}
<GenericList MyList="Streets">

    <Body>
        <table class="table table-striped">
            <thead>
                <tr>

                    <th>Street</th>
                    <th>Number</th>
                    <th>Zip Code Area</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var street in Streets!)
                {
                    <tr>

                        <td>
                            @street.Name
                        </td>                       
                        <td>
                            @street.StreetNumber
                        </td>
                        <td>
                            @street.ZipCode
                        </td>
                        <td>
                            <a class="btn btn-info" href="/streets/details/@street.CityId">Details</a>
                            <a class="btn btn-warning" href="/streets/edit/@street.Id">Edit</a>
                            <button class="btn btn-danger" @onclick="(()=>StreetDeleteAsync(street.Id))">Delete</button>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </Body>
</GenericList>


@code {

    private Street? Street;
    private City? city;
    [Parameter]
    public int Id { get; set; }

    public List<Street>? Streets { get; set; }
    protected override async Task OnInitializedAsync()
    {
        await LoadAsync();
    }
    private async Task LoadAsync()
    {
        var responHttpData = await repository.Get<City>($"/api/cities/{Id}");
        if (responHttpData.Error)
        {
            if (responHttpData.HttpResponseMessage.StatusCode == HttpStatusCode.NotFound)
            {
                nav.NavigateTo($"/cities/details/{Street!.CityId}");
                return;
            }
            var message = await responHttpData.GetErrorMessageAsync();
            await swl.FireAsync("Error", message, SweetAlertIcon.Error);
            return;
        }

        city = responHttpData.Response;
        Streets = city.Streets.ToList();
    }
    private async Task StreetDeleteAsync(int id)
    {
        var responseHttpData = await repository.Get<Street>($"/api/streets/{id}");
        if (responseHttpData.Error)
        {
            if (responseHttpData.HttpResponseMessage.StatusCode == HttpStatusCode.NotFound)
            {
                nav.NavigateTo($"/cities/details/{Street!.CityId}");
                return;
            }
            var message = await responseHttpData.GetErrorMessageAsync();
            await swl.FireAsync("Error", message, SweetAlertIcon.Error);
            return;
        }
        Street = responseHttpData.Response;
        var resultSwl = await swl.FireAsync(new SweetAlertOptions
            {
                Title = "Confirm Delete",
                Text = $"Are you sure abaout Delete this Street ? : < {Street!.StreetNumber} {Street!.Name} {Street.ZipCode}  > ",
                Icon = SweetAlertIcon.Question,
                ShowCancelButton = true,
                CancelButtonText = "No",
                ConfirmButtonText = "Yes",
            });
        var confirmSwl = string.IsNullOrEmpty(resultSwl.Value);
        if (confirmSwl)
        {
            return;
        }

        var responseHttpDelete = await repository.Delete($"/api/streets/{id}");
        if (responseHttpDelete.Error)
        {
            if (responseHttpDelete.HttpResponseMessage.StatusCode != HttpStatusCode.NotFound)
            {
                nav.NavigateTo($"/cities/details/{Street!.CityId}");
                return;
            }
            var messageDelete = await responseHttpDelete.GetErrorMessageAsync();
            await swl.FireAsync("Error", messageDelete, SweetAlertIcon.Error);
            return;
        }
        await LoadAsync();
    }
}
