@page "/cities/create/{StateId:int}"
@inject IRepository repository
@inject NavigationManager nav
@inject SweetAlertService swl


<h3>Create new City</h3>
<CityForm @ref="cityForm" City="city" OnValidSubmit="CityCreateAsync" ReturnAction="Return"></CityForm>
@code {
    [Parameter]
    public int StateId { get; set; }
    private City city = new();
    private CityForm cityForm = new();

    public async Task CityCreateAsync()
    {
        city.StateId = StateId;
        var httpResponse = await repository.Post("/api/cities", city);
        if (httpResponse.Error)
        {
            var message = await httpResponse.GetErrorMessageAsync();
            await swl.FireAsync("Error", message, SweetAlertIcon.Error);
            return;
        }

        Return();
    }
    private  void Return()
    {
        cityForm.FormPostedSuccessFully = true;
        nav.NavigateTo($"/states/details/{StateId}");
    }
}
