@typeparam Titem

@if (MyList is  null)//If list is null , is cuz we need show the loding
{
    @if (Loading is null)//If we don't pass the loading componente , we paint our componenet default
    {
        <div class="spinner" />
    }
    else
    {
        @Loading
    }
}
else if(MyList.Count == 0) // if we don't have registers
{
    @if(NoRecords is null) //Our no records
    {
        <div class="align-items-center">
            <p>There aren't records to show</p>
        </div>
    }
    else //NoRecord User
    {
        @NoRecords
    }

}
else
{
    @Body
}


@code {

    [Parameter]
    public RenderFragment? Loading { get; set; }

    [Parameter]
    public RenderFragment? NoRecords { get; set; }

    [Parameter]
    [EditorRequired]
    public RenderFragment Body { get; set; } = null!;

    //Our list 
    [Parameter]
    [EditorRequired]
    public List<Titem> MyList { get; set; } = null!;
}
