@page "/weeks/create/{ServiceId:int}"
@inject IRepository repository
@inject NavigationManager nav
@inject SweetAlertService swl
@attribute [Authorize(Roles = "Admin")]
<h3>Create new Country</h3>

<WeekForm @ref="weekForm" WeekWorked="weekWorked" OnValidSubmit="CreateAsync" ReturnAction="Return" />

@code {
    [Parameter]
    public int ServiceId{ get; set; }
    private WeekWorked weekWorked = new();
    private WeekForm? weekForm;

    private async Task CreateAsync()
    {
        weekWorked.ServiceId = ServiceId;
        var httpResponse = await repository.Post("/api/weeks", weekWorked);
        if (httpResponse.Error)
        {
            var message = await httpResponse.GetErrorMessageAsync();
            await swl.FireAsync("Error", message, SweetAlertIcon.Error);
            return;
        }

        Return();
    }

    private void Return()
    {
        weekForm!.FormPostedSuccessFully = true;
        nav.NavigateTo($"/services/showEmplooyes/{ServiceId}");
    }
}
