@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
  
    <h1 class="display-4">Welcome At Twins Brush Brothers Company</h1>

    <div class="col-12">
        <img src="/Images/sebas.jpg" style="width:200px; height:200px; border-radius:50px" align="right" />
    </div>
    <div class="row col-md-6">
        <div class="">
            <p>We are the Perfects Twins to paint your house.<br />Wer are professinoals and then we are alot experencies on the areas as :<br /></p>
            <ul>
                <li>
                    <p>Whites Rooms</p>
                </li>
                <li>
                    <p>Paint and fixed windoms and doors</p>
                </li>
            </ul>
        </div>        
    </div>
   
</div>
