@model TwinsBrushMVC.Data.Entities.Country;
@{
    ViewData["Title"] = "Add new Country";
}


<div class="modal fade" role="dialog" tabindex="-1" id="AddCountry" aria-labelledby="CountryTable" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-scrollable" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h3>Countries</h3>
            </div>
            <div class="modal-body">
                <form asp-action="Create" method="post">
                    <input type="hidden" asp-for="States" />
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group">
                        <label asp-for="Name" class="control-label">Country Name</label>
                        <input asp-for"Name" class="form-control" />
                        <span asp-validation-for="Name" class="text-danger"></span>
                    </div>      
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary" >Save</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<script>

</script>